openapi: 3.1.0
info:
  title: Camtasia Asset Library Assets Templates API
  description: API for accessing and managing media assets, templates, and libraries within TechSmith Camtasia. Provides programmatic access to browse, search, download, and manage video assets, audio tracks, images, templates, themes, and other media resources used in Camtasia projects.
  version: '1.0'
  contact:
    name: TechSmith Support
    url: https://support.techsmith.com
    email: support@techsmith.com
  termsOfService: https://www.techsmith.com/terms.html
servers:
- url: https://api.techsmith.com/camtasia/v1
  description: TechSmith Camtasia API Production
security:
- bearerAuth: []
tags:
- name: Templates
  description: Manage video project templates
paths:
  /templates:
    get:
      operationId: listTemplates
      summary: Camtasia List templates
      description: Retrieve a list of available project templates including both built-in and user-created templates.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/searchQuery'
      - $ref: '#/components/parameters/pageOffset'
      - $ref: '#/components/parameters/pageLimit'
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemplateListResponse'
        '401':
          description: Unauthorized
  /templates/{templateId}:
    get:
      operationId: getTemplate
      summary: Camtasia Get a template
      description: Retrieve detailed information about a specific template.
      tags:
      - Templates
      parameters:
      - $ref: '#/components/parameters/templateId'
      responses:
        '200':
          description: Template details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Template'
        '401':
          description: Unauthorized
        '404':
          description: Template not found
components:
  parameters:
    templateId:
      name: templateId
      in: path
      required: true
      description: Unique identifier for the template
      schema:
        type: string
    pageOffset:
      name: offset
      in: query
      description: Pagination offset
      schema:
        type: integer
        default: 0
        minimum: 0
    pageLimit:
      name: limit
      in: query
      description: Number of results per page
      schema:
        type: integer
        default: 25
        minimum: 1
        maximum: 100
    searchQuery:
      name: q
      in: query
      description: Search query string
      schema:
        type: string
  schemas:
    Template:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the template
        name:
          type: string
          description: Display name of the template
        description:
          type: string
          description: Description of what the template produces
        category:
          type: string
          description: Template category
        previewUrl:
          type: string
          format: uri
          description: URL to a preview image or video
        downloadUrl:
          type: string
          format: uri
          description: URL to download the template package
        resolution:
          type: string
          description: Target video resolution (e.g., 1920x1080)
        frameRate:
          type: number
          description: Target frame rate
        builtIn:
          type: boolean
          description: Whether this is a TechSmith-provided template
        createdAt:
          type: string
          format: date-time
          description: When the template was created
        updatedAt:
          type: string
          format: date-time
          description: When the template was last modified
    TemplateListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Template'
        total:
          type: integer
          description: Total number of templates
        offset:
          type: integer
          description: Current pagination offset
        limit:
          type: integer
          description: Number of results per page
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from TechSmith account authentication
externalDocs:
  description: Camtasia Support Documentation
  url: https://support.techsmith.com/hc/en-us/categories/camtasia-api
