openapi: 3.1.0
info:
  title: Camtasia Asset Library Assets Categories API
  description: API for accessing and managing media assets, templates, and libraries within TechSmith Camtasia. Provides programmatic access to browse, search, download, and manage video assets, audio tracks, images, templates, themes, and other media resources used in Camtasia projects.
  version: '1.0'
  contact:
    name: TechSmith Support
    url: https://support.techsmith.com
    email: support@techsmith.com
  termsOfService: https://www.techsmith.com/terms.html
servers:
- url: https://api.techsmith.com/camtasia/v1
  description: TechSmith Camtasia API Production
security:
- bearerAuth: []
tags:
- name: Categories
  description: Browse asset categories
paths:
  /categories:
    get:
      operationId: listCategories
      summary: Camtasia List asset categories
      description: Retrieve the hierarchy of asset categories used to organize media assets in the library.
      tags:
      - Categories
      responses:
        '200':
          description: List of categories
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CategoryListResponse'
        '401':
          description: Unauthorized
  /categories/{categoryId}:
    get:
      operationId: getCategory
      summary: Camtasia Get a category
      description: Retrieve details of a specific asset category.
      tags:
      - Categories
      parameters:
      - $ref: '#/components/parameters/categoryId'
      responses:
        '200':
          description: Category details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Category'
        '401':
          description: Unauthorized
        '404':
          description: Category not found
components:
  schemas:
    Category:
      type: object
      properties:
        id:
          type: string
          description: Unique identifier for the category
        name:
          type: string
          description: Display name of the category
        description:
          type: string
          description: Description of the category
        parentId:
          type: string
          description: Parent category ID for hierarchical organization
        assetCount:
          type: integer
          description: Number of assets in this category
    CategoryListResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Category'
  parameters:
    categoryId:
      name: categoryId
      in: query
      description: Filter by category identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth 2.0 bearer token from TechSmith account authentication
externalDocs:
  description: Camtasia Support Documentation
  url: https://support.techsmith.com/hc/en-us/categories/camtasia-api
